<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판Main페이지</title>
    <link href="/css/index.css" rel="stylesheet">
    
</head>
<body>

    <!-- 로그인 회원가입 퀵메뉴 -->
    <!-- <div class="qck_menu">
        <div id="qck_btn"></div>
        <div id="qck_list">
            <ul>
                <li>
                    <a href="/user/login">
                        로그인
                    </a>
                    <a href="/user/join">
                        회원가입
                    </a>
                </li>
            </ul>
        </div> 
    </div> -->
    
    <div id="wrap">
        <div id="user">
            {% if token %}
            {{token}}님 어서오세요.
            <a href="/user/logout">로그아웃</a>
            <a href="/user/profile">내 정보</a>
            {% else %}
            <a href="/user/login">로그인</a>
            <a href="/user/join">회원가입</a>
            {% endif %}
        </div>
        <div>
            <h1 id="Logo">
                <a href="/">Logo</a>
            </h1>
        </div>

        <!-- Slide -->
        <div class="kind_wrap">
            <div class="kind_slider">
              <ul class="slider">
                    <li id="slide1">
                        <img src="https://health.chosun.com/site/data/img_dir/2022/08/12/2022081201989_0.jpg" style="width:1200px; height:450px;" alt="">
                    </li>
                    <li id="slide2">
                        <img src="https://img.freepik.com/premium-photo/traditional-food-chicken-soup-with-ginseng_1205-8408.jpg?w=2000" style="width:1200px; height:450px;" alt="">
                    </li>
                    <li id="slide3">
                        <img src="https://img.freepik.com/free-photo/cheesy-tokbokki-korean-traditional-food-on-black-board-background-lunch-dish_1150-42988.jpg?w=2000&t=st=1672205001~exp=1672205601~hmac=8745d7715a12f23e211f1d40c48f231cd1d87b88a2f3dd3c7da8abffb7d243d5" 
                        style="width:1200px; height:450px;", alt="">
                    </li>
                </ul>
            </div>
            <!-- <progress class="progressTag" value="100" max="100"> 나중에. -->
        </div>
        <div id="arrow_box">
            <div class="arrow">
                <a href="" class="prev"><</a>
                <a href="" class="next">></a>
            </div>
        </div>
        


        <div id="content">
            <div>
                <div class="pic">공지사진</div>
                <div class="fade">
                    <div class="categori">
                        <div class="text">
                            hello
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="fade">
                    <div class="categori">
                        <div class="text">
                            공지사진
                        </div>
                    </div>
                </div>
                <div class="pic">커뮤사진</div>
            </div>
        </div>
        
    </div>
    <div id='top' onclick="window.scrollTo(0,0);">TOP</div>

    <script src="/js/index.js"></script>
</body>
</html>
