<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판Main페이지</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <!-- 로고 -->
            <div>
                <h1>
                    <a href="/">Logo</a>
                </h1>
            </div>

            <!--user-->
            <div id="user">
                <ul>
                    <li>
                        <a href="/user/profile">test</a>님 안녕하세요.
                        <button><a href="">∨</a></button>
                    </li>
                    <li><a href="/user/logout">로그아웃</a></li>
                </ul>

            </div>
        </div>
        <div id="visual">
            <div id="slide">
                <ul>
                    <li><img src="https://img.freepik.com/premium-psd/burger-social-media-web-banner-template_440834-1615.jpg?w=1800" height="300px" width="1200px" alt=""></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div id="slide_btn">
                <button><a href=""><</a></button>
                <button><a href="">></a></button>
            </div>
        </div>

        <div id="content">

            <!-- 인기 게시글 -->
            <div class="ctnt">
                <div>
                    인기게시글 <a href="">more</a>
                </div>

                <!-- 인기 게시글 -->
                <div>
                    <ul>
                        <li>테스트 게시글이요.</li>
                    </ul>
                </div>

            </div>

            <!-- 공지사항 -->
            <div class="cntn">

                <div>
                    공지사항 <a href="/board/notice">more</a>
                </div>

                <!-- 공지사항 게시글 -->
                <div>
                    <ul>
                        <li>테스트글입니다</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="footer">

        </div>
    </div>
</body>
</html>
