* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.on {
    right: 300px;
}


#user {
    float:right;
}

#user > a {
    padding:3px;
}


.qck_menu {
    position : fixed;
    right: 0px;
    top: 5%;
    border: 1px solid;
    width: 300px;
    height: 400px;
}

#qck_menu > #qck_btn { 
    display:inline-block;*display:inline;
    text-align: center;
    width: 30px;
}

#qck_btn:after{
    cursor: pointer; 
    display: inline-block;
    content: "\00d7"; 
    font-size:30pt;}

#qck_menu > #qck_list {
    background: white;
}

#wrap {
    width: 1200px;
    margin: auto;
    max-height: 300px;
}

#Logo{
    text-align: center;
    padding: 20px;
}

.kind_wrap {
    border:2px solid black; 
    width:100%; 
    max-width:1200px; 
    margin:0 auto; 
    position: relative;
}
.kind_wrap > .kind_slider {
overflow: hidden;
}
.kind_wrap > .kind_slider .slider { 
position: relative; 
transition: 0.5s;
}
.kind_wrap > .kind_slider .slider li {
float:left;
}
.kind_wrap > .kind_slider img {
vertical-align: top;
}

#arrow_box {
    height: 20px;
}

.arrow {
    height: 100%;
    float: right;
  }

.arrow > a {
    padding: 10px;
}

.arrow > a.prev {
    /* position: absolute;  */
    /* left:-50px; 
    top:100px; */
    /* right: 150px; */
    font-size: 30px;
  }
.arrow > a.next {
    /* position: absolute;  */
    /* right:-50px; 
    top:100px; */
    font-size: 30px;
  }

#content {
    width: 100%;
}


.pic {
    background: blue;
}

.categori > .text{
    margin : 70px 0 0 100px;
}

#content > div > div{
    float: left;
    width: 600px;
    height: 300px;
}

#top {
    position: absolute;
    position: fixed;
    cursor:pointer;
    right: 50px;
    bottom: 50px;
}