<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/css/user_join.css">
</head>
<body>
    <div id="header">
        <h3>Sign up</h3>
    </div>
    <div id="body">
        <form action="./join" method="post">
            <div id="div_name">
                이름 : <input type="text" name="user_name" placeholder="이름을 입력하세요">
            </div>
            <div id="div_id">
                아이디 : <input type="text" name="user_id" placeholder="아이디를 입력하세요">
            </div>
            <div id="div_pw">
                비밀번호 : <input type="password" name="user_pw" placeholder="비밀번호를 입력하세요">
            </div>
            <div id="div_nick">
                별명 : <input type="text" name="nickname" placeholder="별명을 입력하세요">
            </div>
            <div id="div_date">
                생년월일 : 
                <label for="date">
                    <input type="date" name = "birth" id="date" max="2022-12-25" min="1922-12-25" value="2000-01-01">
                </label>
            </div>
            <div id="phone">
                핸드폰번호 :
                <input type="tel" name="phone" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" placeholder="예)010-1234-5678">
            </div>
            <div id="tel">
                전화번호 :
                <input type="tel" name="tel" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" placeholder="예)031-123-456">
            </div>
            <div id="div_gender">
                성별 :
                <select name="gender">
                    <option value="남자">남자</option>
                    <option value="여자">여자</option>
                </select>
            </div>
            <button type="submit">회원가입</button>
        </form>
    </div>
    <script type="text/javascript" src="/js/join.js"></script>
</body>
</html>