<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/css/user_join.css">
</head>
<body>
    <div id="header">
        <i>BlockChain8</i>
    </div>
    <div id="body">
        <form action="./join" method="post">
            <div id="div_name">
                <input type="text" name="user_name" placeholder="이름을 입력하세요">
            </div>
            <div id="div_id">
                <input type="text" name="user_id" placeholder="아이디를 입력하세요">
            </div>
            <div id="div_pw">
                <input type="password" name="user_pw" placeholder="비밀번호를 입력하세요">
            </div>
            <div id="div_nick">
                <input type="text" name="nickname" placeholder="별명을 입력하세요">
            </div>
            <div id="div_date">
                <label for="date">
                    <input type="date" name = "birth" id="date" max="2022-12-25" min="1922-12-25" value="2000-01-01">
                </label>
            </div>
            <div id="phone">
                <input type="tel" name="phone" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" placeholder="휴대전화 : 예)010-1234-5678">
            </div>
            <div id="tel">
                <input type="tel" name="tel" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" placeholder="집전화 : 예)031-123-456">
            </div>
            <div id="div_gender">
                <select name="gender">
                    <option value="남자">남자</option>
                    <option value="여자">여자</option>
                </select>
            </div>
            <div id="btn_join">
                <button type="submit">가입</button>
            </div>
        </form>
    </div>
    <div id="body_bottom">
        <div id="bottom_login">
            <span>계정이 있으신가요?&nbsp;</span> <a href="./login">로그인</a>
        </div>
    </div>
    <script type="text/javascript" src="/js/join"></script>
</body>
</html>