<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>Login page</h2>
    <form action="/user/login" method="post">
        <ul>
            <li>
                아이디 : <input type="text" name="user_id" placeholder="아이디를 입력하세요">
            </li>
            <li>
                비밀번호 : <input type="password" name="user_pw" placeholder="비밀번호를 입력하세요"> 
            </li>
        </ul>
        <button type="submit">로그인</button>
        <a href="./join">회원가입</a>
    </form>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>