<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>글번호 {{token.view.idx}}</td>
            <td>글제목 {{token.view.subject}}</td>
            <td>글내용 {{token.view.content}}</td>
            <td>작성자 {{token.view.writer}}</td>
            <td>조회수 {{token.view.hit}}</td>
        </tr>
    </table>
    {% if token.bool %}
    <a href="/board/modify?idx={{token.view.idx}}">수정하기</a>         
    <a href="/board/delete?idx={{token.view.idx}}">삭제</a>
    {% endif %}
</body>
</html>